services:
    postgres:
        image: postgres:17-alpine
        container_name: postgres
        hostname: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: parivyaya
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - parivyaya-network
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    broker:
        image: apache/kafka:4.1.1-rc2
        container_name: broker
        hostname: broker
        ports:
            - "9092:9092"
        environment:
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: broker,controller
            KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker:9092
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@broker:9093
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
            KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
            KAFKA_NUM_PARTITIONS: 3
        networks:
            - parivyaya-network
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server broker:9092",
                ]
            interval: 10s
            timeout: 5s
            retries: 5

    worker:
        build:
            context: .
            dockerfile: Dockerfile.worker
        container_name: worker
        ports:
            - "8000:80"
        environment:
            GOOGLE_API_KEY: ${GOOGLE_API_KEY}
            KAFKA_BOOTSTRAP_SERVERS: broker:9092
            DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/parivyaya
        depends_on:
            postgres:
                condition: service_healthy
            broker:
                condition: service_healthy
        networks:
            - parivyaya-network

    # ui:
    #     build:
    #         context: .
    #         dockerfile: Dockerfile.ui
    #     container_name: ui
    #     ports:
    #         - "3000:3000"
    #     environment:
    #         NEXT_PUBLIC_API_URL: http://worker:80
    #     depends_on:
    #         - worker
    #     networks:
    #         - parivyaya-network

networks:
    parivyaya-network:
        driver: bridge

volumes:
    postgres_data:
